body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    background:linear-gradient(to bottom, #407781, #14373d);
    font-family: "Inknut Antiqua";
    overflow-x: hidden !important;
}

.main-header {
    font-size: 103px;
    line-height: 140%;
    background: var(--1, linear-gradient(180deg, #86E0BC 0%, #2E9E71 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    margin-top: 300px;
}

.by-anna {
    color: #F7F1E3;
    font-family: "Inknut Antiqua";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.center-items {
    text-align: center;
}

.tree {
    position: absolute;
    transition: transform 1s ease; 
    transform-origin: center; 
}


#tree-1 {
    right: -100px;
    width: 1000px;
    height: 1000px;
    top: 10px;
}

#tree-2 {
    left: -50px;
    width: 1000px;
    height: 1000px;
    top: 10px;
}

#tree-3 {
    right: -100px;
    width: 600px;
    height: 600px;
    top: 400px;
}

#tree-4 {
    left: -50px;
    width: 600px;
    height: 600px;
    top: 400px;
}


.when-may {
    color: #F7F1E3;
    font-family: "Inknut Antiqua";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: relative;
}

.section {
    min-height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sections {
    display: flex;
    flex-direction: column;
}

#section2 {
    position: relative;
}
